.contactHomeBody {
  margin-top: 115px;
  margin-bottom: 0px;
  width: 100%;
  position: relative;
}
.contactHomeContainer {
  width: 100%;
  height: 837px;
  background: url(../Picture/contactHome.png) center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.contactAboutHometitl {
  color: #eceef5;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  cursor: pointer;
  z-index: 2;
}
.contactAboutUstitl {
  color: #6278ff;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  cursor: pointer;
  z-index: 2;
}

.contactHomeContainer::before {
  position: absolute;
  content: "";
  bottom: 0;
  top: 0;
  width: 100%;
  background: rgba(21, 22, 24, 0.45);
}
