.footerBody {
  background: #132742;
  margin-bottom: 0px;
  padding-top: 108px;
  padding-bottom: 62px;
  display: flex;
  padding-left: 240px;
  gap: 6.8rem;
}
.section1 {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.description {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin: 25px 0px;
}
.logo {
  width: 184px;
}
.imgAppstore {
  width: 198px;
  cursor: pointer;
}
.imgGoogle {
  width: 198px;
  margin: 10px 0px 25px 0px;
  cursor: pointer;
}
.follow {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.logoContainer > img {
  width: 20px;
  cursor: pointer;
}
.logoContainer {
  display: flex;
  gap: 15px;
}
.title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 430px;
  margin-bottom: 20px;
}
.section2,
.section3,
.sec4list > li {
  list-style: none;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;
}
.section2,
.section3,
.section4 {
  margin-top: 15px;
}
.sec2list,
.sec3list,
.sec4list {
  margin-top: 23px;
}
.sec4list {
  margin-left: 20px;
}
.emailContainer {
  height: 50px;
  width: 365px;
  border-radius: 40.5px;
  background: #d9d9d9;
  display: flex;
  justify-content: space-between;
  border-radius: 40.5px;
  margin-bottom: 20px;
}
.email::placeholder {
  color: #161e49;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  outline: 0px;
}
.email {
  border: 0;
  border-radius: 40.5px;
  background: #d9d9d9;
  outline: 0px;
  padding-left: 30px;
}
.btnStart {
  width: 144px;
  height: 50px;
  border-radius: 40.5px;
  background: #6278ff;
  border: 0;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}
