.testiContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 100px 0px 230px 200px;
  position: relative;
}

.leftDiv {
  margin-top: 10px;
  margin-right: 200px;
}
.testTitle {
  color: #6278ff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
}
.testipragraph {
  color: #262830;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
}
.leftTitle {
  color: #161e49;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px;
  margin: 10px 0 25px 0;
}

.leftDev > button {
  border-radius: 25px;
  background: #6278ff;
  width: 178px;
  height: 50px;
}
.leftDiv > button {
  width: 178px;
  height: 50px;
  border-radius: 25px;
  background: #6278ff;
  margin-top: 10px;
  border: 0;
  color: #eceef5;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 550;
  cursor: pointer;
}
.testirightDiv {
  padding-top: 30px;
  position: relative;
}
.testirightDiv > img {
  width: 416px;
  position: absolute;
  right: 130px;
}

.asmntContainer {
  height: 50px;
  width: 460px;
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  border: 2px solid #6278ff;
  margin-top: 30px;
  border-right: 0;
}
.asmnt::placeholder {
  color: #6278ff;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
}
.asmnt {
  border: 0;
  outline: 0;
  border-radius: 25px;
  width: 250px;
}
.btnAsmnt {
  padding: 0;
  width: 60px;
  height: 52px;
  border-radius: 25px;
  border: 2px solid #6278ff;
  cursor: pointer;
  color: #6278ff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  background-color: #fff;
}
.ladyDetail {
  border-radius: 8px;
  border-left: 8px solid #6278ff;
  background: #edeef3;
  width: 420px;
  margin: 0;
  padding: 5px 30px 23px 27px;
  position: absolute;
  right: -270px;
  bottom: -160px;
}
.ladyDetail > p {
  color: #262830;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: justify;
}
.ruksana {
  color: #161e49;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.detailFooter > img {
  width: 125px;
}
.detailFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.picNext {
  color: #6278ff;
  background-color: rgba(226, 228, 237, 0.66);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  position: absolute;
  top: 12rem;
  right: 100px;
  cursor: pointer;
}
.testiFooter {
  height: 100px;
  background-color: #edeef3;
}
